<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title>
			Absences
		</ion-title>

		<ion-buttons end >
			<button ion-button clear color="light">
				<ion-icon name="notifications"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="absence" no-scroll>
    <div class="absence-header">
        <button ion-button block type="submit" (click)="goToAddAbsence()">Create Request</button>
    </div>
	<ion-list>
        <ion-list-header style="color: #d35400;">
            Waiting for approval
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && leaveRequested.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let l of leaveRequested" style="background-color: #d35400; color: #fff;" (click)="goToAbsenceDetail(l._id)">
            <div>
                <img class="item-image" src="../assets/imgs/hourglass.png"/>
                <div class="item-content">
                    <div class="absence-title">
                    {{ l.type }}
                    </div>
                    <div class="absence-time">
                        {{ l.startDate | date: 'EEE, dd MMM yyyy' }} - {{ l.endDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#16a085">
            Accepted
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && leaveAccepted.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let l of leaveAccepted" style="background-color: #16a085; color: #fff;" (click)="goToAbsenceDetail(l._id)">
            <div>
                <img class="item-image" src="../assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="absence-title">
                    {{ l.type }}
                    </div>
                    <div class="absence-time">
                        {{ l.startDate | date: 'EEE, dd MMM yyyy' }} - {{ l.endDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#c0392b">
            Rejected
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && leaveRequested.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let l of leaveRejected" style="background-color: #c0392b; color: #fff;" (click)="goToAbsenceDetail(l._id)">
            <div>
                <img class="item-image" src="../assets/imgs/wrong-sign.png"/>
                <div class="item-content">
                    <div class="absence-title">
                    {{ l.type }}
                    </div>
                    <div class="absence-time">
                        {{ l.startDate | date: 'EEE, dd MMM yyyy' }} - {{ l.endDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
