page-redticket-detail {
    ion-list-header {
        .label-md {
            color: #16a085;
        }
    }
    .list-header-md {
        margin-bottom: 0px;
    }
    .item-block {
        border-bottom: 0px;
        .item-inner {
            border-bottom: 0px !important;
        }
    }
    .note-md {
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
        color: #fff;
    }
    .notes-highlight {
        color: #16a085;
        font-weight: 700;
    }

    .redticket-detail { 
        ion-list {

            ion-item {
                border:none;

                .item-inner {
                border:none !important;
                }
            }
        }
    }
    .redticket-header {
        height: 100px;
        background: url(../assets/imgs/redticket-bg.png) center center no-repeat;
        background-size: cover;
    }
    .loading-error-info {
        text-align: center;
    }
}
