page-plog {
    ion-list-header {
        .label-md {
            color: #e67e22;
        }
    }
    .list-header-md {
        margin-bottom: 0px;
    }
    .item-block {
        border-bottom: 0px;
        .item-inner {
            border-bottom: 0px !important;
        }
    }
    .note-md {
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
        color: #fff;
    }
    .notes-highlight {
        color: #e67e22;
        font-weight: 700;
    }
    .check-in {
        // background-color: #27ae60;
        color:#7b441a;
        .note-md {
            color:#7b441a
        }
    }
    .check-out {
        // background-color: #e67e22;
        color:#f90000;
        .note-md {
            color:#f90000
        }
    }

    .item-image {
        width: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .item-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 13px;
    }

    .plog { 
        ion-list {

            ion-item {
                border:none;

                .item-inner {
                border:none !important;
                }
            }
        }
    }
    .project-header {
        height: 100px;
        background: url(../assets/imgs/project-bg.png) center center no-repeat;
        background-size: cover;
    }
}
