<ion-header>
	<ion-toolbar color="custom-license">
		<ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title>
			Licenses
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="license" no-scroll>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div style="background-color:#efefef">
        <div class="license-header">
        </div>
    </div>
	<ion-list>
        <ion-list-header style="color:#1abc9c">
            Current
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && licenseCurrent.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let l of licenseCurrent" style="background-color: #1abc9c; color: #fff;" (click)="goToLicenseDetail(l._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="license-title">
                    {{ l.entityTitle }}
                    </div>
                    <div class="license-time">
                        until {{ l.completionDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        
        <ion-list-header style="color:#16a085">
            Completed
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && licenseCompleted.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let l of licenseCompleted" style="background-color: #16a085; color: #fff;" (click)="goToLicenseDetail(l._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="license-title">
                    {{ l.entityTitle }}
                    </div>
                    <div class="license-time">
                        until {{ l.completionDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
