<ion-header>
	<ion-toolbar color="custom-redticket">
		<ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
		<ion-title>
			Red tickets
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="redticket" no-scroll>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div style="background-color:#efefef">
        <div class="redticket-header">
        </div>
    </div>
	<ion-list>
        <ion-list-header style="color: #d35400;">
            Waiting for approval
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && redTicketRequested.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let r of redTicketRequested" style="background-color: #d35400; color: #fff;" (click)="goToRedTicketDetail(r._id)">
            <div>
                <img class="item-image" src="assets/imgs/hourglass.png"/>
                <div class="item-content">
                    <div class="redticket-title">
                    Medical: {{ r.medicalDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                    <div class="redticket-time">
                        Expiration: {{ r.expiryDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#16a085">
            Reccomended
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && redTicketR.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let r of redTicketR" style="background-color: #16a085; color: #fff;" (click)="goToRedTicketDetail(r._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="redticket-title">
                    Medical: {{ r.medicalDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                    <div class="redticket-time">
                        Expiration: {{ r.expiryDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#16a085">
            To come back
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && redTicketTCB.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let r of redTicketTCB" style="background-color: #16a085; color: #fff;" (click)="goToRedTicketDetail(r._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="redticket-title">
                    Medical: {{ r.medicalDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                    <div class="redticket-time">
                        Expiration: {{ r.expiryDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#16a085">
            Temporary surface duty
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && redTicketTSD.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let r of redTicketTSD" style="background-color: #16a085; color: #fff;" (click)="goToRedTicketDetail(r._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="redticket-title">
                    Medical: {{ r.medicalDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                    <div class="redticket-time">
                        Expiration: {{ r.expiryDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>
        <ion-list-header style="color:#16a085">
            Permanent surface duty
        </ion-list-header>
        <div class="loading-error-info">
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
            <div *ngIf="!isLoading && isError">
                Connection problem occured.
            </div>
            <div *ngIf="!isLoading && !isError && redTicketPSD.length == 0">
                No data found.
            </div>
        </div>
        <ion-item *ngFor="let r of redTicketPSD" style="background-color: #16a085; color: #fff;" (click)="goToRedTicketDetail(r._id)">
            <div>
                <img class="item-image" src="assets/imgs/success.png"/>
                <div class="item-content">
                    <div class="redticket-title">
                    Medical: {{ r.medicalDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                    <div class="redticket-time">
                        Expiration: {{ r.expiryDate | date: 'EEE, dd MMM yyyy' }}
                    </div>
                </div>
            </div>
        </ion-item>

    </ion-list>
</ion-content>
