page-redticket {
    .list-header-md {
        margin-bottom: 0px;
    }
    .item-block {
        border-bottom: 0px;
        .item-inner {
            border-bottom: 0px !important;
        }
    }
    .note-md {
        position: absolute;
        right: 15px;
        font-size: 1.4rem;
    }

    .item-image {
        width: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .item-content {
        display: inline-block;
        vertical-align: middle;
        margin-left: 13px;
    }

    .redticket-title {
        font-size: 2rem;
        font-weight: 200;
    }

    .redticket-time {
        font-size: 1.4rem;
        font-weight: 500;
    }
    .redticket { 
        ion-list {

            ion-item {
                border:none;

                .item-inner {
                border:none !important;
                }
            }
        }
    }
    .redticket-header {
        height: 100px;
        background: url(../assets/imgs/redticket-bg.png) center center no-repeat;
        background-size: cover;
    }
    ion-list-header {
        border: 0px !important;
    }
    .loading-error-info {
        text-align: center;
    }
}
